In [20]:
import numpy as np
import pandas as pd
import os
from collections import defaultdict
from shutil import copy
from shutil import copytree, rmtree

import tensorflow as tf
import matplotlib.pyplot as plt

In [21]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
csv_train_balanced_file = pd.read_csv("/content/drive/MyDrive/Progetto_VIPM/annot/train_balanced_info.csv", 
                             dtype=str, header=None, index_col=False)

In [24]:
csv_train_balanced_file

                              0    1
0              train_101734.jpg  211
1              train_101735.jpg  211
2              train_101736.jpg  211
3              train_101737.jpg  211
4              train_101738.jpg  211
...                         ...  ...
125495  aug-174-_96_4590196.jpg  174
125496  aug-174-_97_5836084.jpg  174
125497  aug-174-_98_5864351.jpg  174
125498  aug-174-_99_9722650.jpg  174
125499   aug-174-_9_1085843.jpg  174

[125500 rows x 2 columns]

In [25]:
csv_train_aug_file = pd.read_csv("/content/drive/MyDrive/Progetto_VIPM/annot/train_balanced_info.csv", 
                             dtype=str, header=None, index_col=False)

In [26]:
csv_train_aug_file[0] = csv_train_aug_file[0].apply(lambda row: "new_" + row)

In [27]:
csv_train_aug_file

                                  0    1
0              new_train_101734.jpg  211
1              new_train_101735.jpg  211
2              new_train_101736.jpg  211
3              new_train_101737.jpg  211
4              new_train_101738.jpg  211
...                             ...  ...
125495  new_aug-174-_96_4590196.jpg  174
125496  new_aug-174-_97_5836084.jpg  174
125497  new_aug-174-_98_5864351.jpg  174
125498  new_aug-174-_99_9722650.jpg  174
125499   new_aug-174-_9_1085843.jpg  174

[125500 rows x 2 columns]

In [28]:
csv_new_train_file = [csv_train_balanced_file, csv_train_aug_file]

In [29]:
csv_new_train_file = pd.concat(csv_new_train_file)

In [30]:
csv_new_train_file

                                  0    1
0                  train_101734.jpg  211
1                  train_101735.jpg  211
2                  train_101736.jpg  211
3                  train_101737.jpg  211
4                  train_101738.jpg  211
...                             ...  ...
125495  new_aug-174-_96_4590196.jpg  174
125496  new_aug-174-_97_5836084.jpg  174
125497  new_aug-174-_98_5864351.jpg  174
125498  new_aug-174-_99_9722650.jpg  174
125499   new_aug-174-_9_1085843.jpg  174

[251000 rows x 2 columns]

In [31]:
csv_new_train_file.to_csv("/content/drive/MyDrive/Progetto_VIPM/annot/new_train_info.csv", 
                      mode='w', index=False, header=False)